          
          {%- assign current_lang = page.lang | default: site.lang | default: "en" -%}
          <div class="news">
            <h2>{% if current_lang == "zh" %}动态{% else %}news{% endif %}</h2>
            {% if site.news != blank -%} 
            {%- assign news_size = site.news | size -%}
            <div class="table-responsive" {% if site.news_scrollable and news_size > 3 %}style="max-height: 10vw"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign news = site.news | reverse -%}
              {% if site.news_limit %}
              {% assign news_limit = site.news_limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% endif %}
              {% for item in news limit: news_limit %}
                {% unless item.hidden %}
                  <tr>
                    <th scope="row">{% if current_lang == "zh" %}{{ item.date | date: "%Y-%m-%d" }}{% else %}{{ item.date | date: "%b %-d, %Y" }}{% endif %}</th>
                    <td>
                      {% if item.inline -%} 
                        {% if current_lang == "zh" and item.content_zh -%}
                          {{ item.content_zh | markdownify | remove: '<p>' | remove: '</p>' | emojify }}
                        {%- else -%}
                          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                        {%- endif %}
                      {%- else -%} 
                        <a class="news-title" href="{{ item.url | relative_url }}">{% if current_lang == "zh" and item.title_zh %}{{ item.title_zh }}{% else %}{{ item.title }}{% endif %}</a>
                      {%- endif %} 
                    </td>
                  </tr>
                {% endunless %}
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>{% if current_lang == "zh" %}目前还没有动态。{% else %}No news so far...{% endif %}</p>
          {%- endif %} 
          </div>
